.card-body {
    color: #666666;
    background-color: #111111;
}
@media (max-width: 767px){
.card-body {
    float: none;
    /* text-align: center; */
    margin-bottom: 20px;
}

.card-body {
    font-size: 13px;
    line-height: 20px;
    /* text-align: center; */
    color: #666;
    padding: 20px 0 20px 0;
  
}
}
.h6 {
    padding-bottom: 20px;
    font-family: open sans;
    font-weight: 400;
}
h4 {
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    line-height: 34px;
    font-family: Playfair Display;
    color: #222222;
}
h4{
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn{
    color:#666666;
    font-family: open sans;
    font-weight: 400;
}
.card-header{
    background: #ffffff;
    padding: 20px 0 20px 0;
    text-align: center;
    border-top: 1px solid #eeeeee;
    font-weight: 400;
    font-family: open sans;
}
.top{
    width:90% ;
    border-bottom: 1px dotted #eeeeee;
    margin-bottom: 10px;
    line-height: 24px;
}
.card{
    line-height: 24px;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-line{
    border-top: #222 1px solid;
    width:90%;
}