<div class="container">
    <section class="title-section">
                    
                                        <h1>About me</h1>
                            
    </section><!-- .title-section -->
                                         <div class="row main-page">
                       
                        <div class="col-md-8 content" id="content">
                              
        <div id="post-separate" class="page clearfix post-2 type-page status-publish hentry">
            <p style="text-align: center"><span lang="EN">Nat on the rocks is my lifestyle blog on style, travel, beauty, food and the works.</span><br>
    <span lang="EN"><br>
    </span><span lang="EN"><span lang="EN">Thank you for stopping by.&nbsp;</span>I am very excited to get the opportunity to share all that inspires me.</span><br>
    <span lang="EN"><br>
    </span><span lang="EN">Love</span><br>
    <span lang="EN">Natasha Luthra</span></p>
            <!--.pagination-->
        </div><!--#post-->
        <!-- BEGIN Comments -->	
        
                    <!-- If comments are closed. -->
           
                
            
    
                            </div>
                     <div class="col-md-4 sidebar" id="sidebar">
                                                </div>
                         
                         
                                              </div>
        </div>
