.title-section h1, .heading-entrance h1 {
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 68px;
    font-family: 'Playfair Display';
    color: #222222;
}
.title-section h1 {
    letter-spacing: -0.049em;
}
h3 {
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    line-height: 34px;
    font-family: 'Playfair Display';
    color: #222222;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h1 {
    margin: .67em 0;
    font-size: 2em;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
:-webkit-any(article,aside,nav,section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.title-section, .heading-entrance {
    margin: 40px auto;
    text-align: center;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto 10px;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    
        margin: 0px;
        background: #0e0e0e;
    
}
img {
    vertical-align: middle;
}
img {
    border: 0;

}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img {
    width: 683px;
    height: 1024px;
}
user agent stylesheet
a:-webkit-any-link {
    color: "-webkit-link";
    cursor: pointer;
        margin: 0px;
        background: #0e0e0e;
    
}
p {
    margin: 0 0 10px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a {
    color: #852121;
    text-decoration: none;
}
